
.header {
    background: #496DDB;
    height: 6vw;
    min-width: 100vw;
    width: 100vw;
    margin: 0 auto;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 4.0625vw;
    position: relative;
    top: 1.2vw;
}