
.header {
    background: #496DDB;
    height: 8vw;
    min-width: 100vw;
    width: 100vw;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 5.0625vw;
    position: relative;
    top: 1.2vw;
    margin-left: 4vw;
}